{% extends "base.html" %}

{% block title %}{{ word }}{% endblock %}

{% block head %}
<style>
    .search-bar {
        border-radius: 25px;
    }

    .card {
        border: 2px solid white;
    }

    .card-body {
        background-color: #343a40;
        color: white;
    }

    .audio-icon {
        cursor: pointer;
        color: #6c757d;
        font-size: 1.5rem;
        margin-right: 5px;
    }

    .example {
        color: #a6acb2;
    }

</style>
{% endblock %}

{% block body %}
<header class="py-3">
    <div class="container d-flex align-items-center">
        <a href="/" class="text-decoration-none">
            <h1 class="m-0 me-3 text-white">Dictionary</h1>
        </a>
        <form class="d-flex flex-grow-1">
            <input class="form-control search-bar mx-5" type="search" placeholder="Type your word here..."
                   value="{{ word }}" aria-label="Search" id="searchInput"
                   onkeydown="search(event)">
        </form>
    </div>
</header>

<div class="container mt-4">
    {% for item in data %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">
                {{ item.word }}
                {% if item.phonetics %}
                {% if item.phonetics.0.audio %}
                {% if item.phonetics.0.text %}
                ({{ item.phonetics.0.text }})
                {% endif %}
                <span class="audio-icon" onclick="playAudio('{{ item.phonetics.0.audio }}')">&#128266;</span>
                {% endif %}
                {% endif %}
            </h5>
            {% for meaning in item.meanings %}
            <h6 class="card-subtitle mb-2 text-muted">{{ meaning.partOfSpeech }}</h6>
            <ul>
                {% for definition in meaning.definitions %}
                <li>
                    <strong>{{ definition.partOfSpeech }}</strong>
                    {{ definition.definition }}
                    {% if definition.example %}
                    <br>
                    <em class="example">Example: {{ definition.example }}</em>
                    {% endif %}
                </li>
                <!--                        {% if not loop.last %}-->
                <!--                            <br>-->
                <!--                        {% endif %}-->
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

<script>
    function search(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            var word = document.getElementById('searchInput').value.trim().toLowerCase();
            if (word !== '') {
                window.location.href = '/' + word;
            }
        }
    }

    function playAudio(audioUrl) {
        if (audioUrl) {
            var audio = new Audio(audioUrl);
            audio.play();
        }
    }

</script>
{% endblock %}
